
<div class="row">
    <div class="col">
     <h1><%= title %></h1>
        <a href="/contacts/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a contact
        </a>
        <br> 
<!--Table inserted -->
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  <!--Repeatable Row Template -->
  <% for(let count =0; count < contact.length; count++){ %>
    <tr>
      <th scope="row"><%= count + 1 %></th>
      <td>contact[count].Name</td>
      <td>contact[count].Number</td>
      <td>contact[count].Email</td>
    </tr>    
    <% } %>
  </tbody>
</table>

</div>
</div>