<div class="row justify-content-lg-center g-3">
    <h1><%= title %> Contact </h1>
<!--Form displays contacts-->
    <form method="POST" class ="col-lg-6 col-md-10 col-sm-10">
        <!--Form displays Name-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Item Name"
            name="name" value="<%= contact.name %>" required>
        </div>
        <!--Form displays Number-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Number</span>
            <input id="number" type="text" class="form-control" placeholder="Number" aria-label="Number" aria-describedby="Item Number"
            name="number" value="<%= contact.number %>" required>
        </div>
        <!--Form displays Email-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input id="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="Item Email"
            name="email" value="<%= contact.email %>" required>
        </div>

        <button type="submit" class = "button btn btn-primary" id="editButton"> <i class="fas fa-edit fa-lg"></i>Edit </button>
        <button type="cancel" class = "button btn btn-primary" id="cancelButton"> <i class="fas fa-edit fa-lg"></i>Cancel </button>
    </form>
    </div>
