<div class="row justify-content-lg-center g-3">
    <h1><%= title %> Contact </h1>

    <form method="POST" class ="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Contact Name"
            name="name" value="<%= contact.name %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Number</span>
            <input id="number" type="text" class="form-control" placeholder="Number" aria-label="Number" aria-describedby="Contact Name"
            name="number" value="<%= contact.name %>" required>
        </div>
    </form>
    </div>
